@import '../../styles/abstracts/variables';

.products {
  $products: &;
  margin-top: 14px;

  &__head {
    border-bottom: 1px solid $color-black;
    margin-bottom: 24px;
    white-space: nowrap;
  }

  &__body {

  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cell {
    padding: 8px 12px;
    flex: 1;

    &:nth-child(1) {
      flex: 0 0 412px;
    }

    &:nth-child(2) {
      flex: 0 0 117px;
    }

    &:nth-child(3) {
      flex: 0 0 112px;
    }

    &:nth-child(4) {
      flex: 0 0 148px;
    }

    &:nth-child(5) {
      text-align: right;
    }

    &:last-child {
      text-align: right;
      padding-right: 4px;
    }

    &_full {
      flex: 0 0 100%;
    }
  }
}