// Font

$font-family: 'Lato', Arial, sans-serif;
$font-size       : 1.6rem;
$font-weight     : normal;
$font-line-height     : 1.9rem;
$font-letter-spacing  : -0.005em;

// Color

$color-primary-dark: #030C3C;
$color-primary-light: #56689F;
$color-white: #ffffff;
$color-black: #1E1E1E;
$color-black-light: #222;

$color-grey: #301a0d;
$color-grey-light: #B5BFC0;
$color-grey-lighter: #F1F1F1;
$color-grey-dark: #7E7E7E;
$color-grey-dark-2: #C4C4C4;

$color-red: #FF5247;
$color-red-dark: #dc4036;
$color-green: #33AA71;